<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2008, Health XCEL Inc.. All Rights Reserved.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:tool="http://www.springframework.org/schema/tool"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util-2.5.xsd
                           http://www.springframework.org/schema/jee
                           http://www.springframework.org/schema/jee/spring-util-2.5.xsd
                           http://www.springframework.org/schema/lang
                           http://www.springframework.org/schema/lang/spring-lang-2.5.xsd
                           http://www.springframework.org/schema/tool
                           http://www.springframework.org/schema/tool/spring-tool-2.5.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-2.5.xsd
                           http://www.springframework.org/schema/jms
                           http://www.springframework.org/schema/jms/spring-jms-2.5.xsd
                           http://cxf.apache.org/jaxws
                           http://cxf.apache.org/schemas/jaxws.xsd">


    <bean id="dataCreationManager" class="com.hxcel.globalhealth.domain.datacreation.DataCreationManager" init-method="init">
        <property name="dataCreators">
            <list>
                <!-- country needs to be first as other creator beans rely on it -->
                <ref bean="countryDataCreator"/>
                <ref bean="godOrganizationDataCreator"/>
                <ref bean="roleDataCreator"/>
                <ref bean="adminDataCreator"/>
                <ref bean="icd10DataCreator"/>
                <ref bean="icpc2DataCreator"/>
            </list>
        </property>
    </bean>

    <bean id="abstractDataCreator" class="com.hxcel.globalhealth.domain.datacreation.creators.AbstractDataCreator" abstract="true"/>

    <bean id="adminDataCreator" class="com.hxcel.globalhealth.domain.datacreation.creators.UserDataCreator" parent="abstractDataCreator">
        <property name="file" value="classpath:/datacreation/users.xml"/>
        <property name="enabled" value="${admin.datacreator.enabled}"/>
        <property name="name" value="Administration Data Creator"/>
    </bean>

    <bean id="countryDataCreator" class="com.hxcel.globalhealth.domain.datacreation.creators.CountryDataCreator" parent="abstractDataCreator">
        <property name="file" value="classpath:/datacreation/country.xml"/>
        <property name="enabled" value="${country.datacreator.enabled}"/>
        <property name="name" value="Country Data Creator"/>
    </bean>

    <bean id="icd10DataCreator" class="com.hxcel.globalhealth.domain.datacreation.creators.ICD10DataCreator" parent="abstractDataCreator">
        <property name="file" value="classpath:/datacreation/icd10_en_US.xml"/>
        <property name="enabled" value="${icd10.datacreator.enabled}"/>
        <property name="name" value="ICD-10 Data Creator"/>
    </bean>

    <bean id="icpc2DataCreator" class="com.hxcel.globalhealth.domain.datacreation.creators.ICPC2DataCreator" parent="abstractDataCreator">
        <property name="file" value="classpath:/datacreation/icpc2_en_US.xml"/>
        <property name="enabled" value="${icpc2.datacreator.enabled}"/>
        <property name="name" value="ICPC-2 Data Creator"/>
    </bean>

    <bean id="godOrganizationDataCreator" class="com.hxcel.globalhealth.domain.datacreation.creators.OrganizationDataCreator" parent="abstractDataCreator">
        <property name="enabled" value="${god.org.datacreator.enabled}"/>
        <property name="name" value="God Organization Data Creator"/>
        <property name="organizationName" value="${application.vendor}"/>
    </bean>

    <bean id="roleDataCreator" class="com.hxcel.globalhealth.domain.datacreation.creators.RoleDataCreator" parent="abstractDataCreator">
        <property name="file" value="classpath:/datacreation/user_roles.xml"/>
        <property name="enabled" value="${role.datacreator.enabled}"/>
        <property name="name" value="Role Data Creator"/>
    </bean>


</beans>
